<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105130847603-9deq0lc69thj04h8fkq8ld2slsjhcd9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105130847603-9deq0lc69thj04h8fkq8ld2slsjhcd9a</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ2T9fgjhKvJ6Cr0dBiihhl6h1ORk1ucw</string>
	<key>GCM_SENDER_ID</key>
	<string>105130847603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcineberst.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait1993</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait1993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105130847603:ios:43160bfab72e88151be906</string>
</dict>
</plist>